@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
  }
}

/* Custom Cyberpunk Dark Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0d1117;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a364a;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}
